DEFAULT_BASE_URL = "your_default_base_url_here"

DEFAULT_API_KEY = "your_default_api_key_here"

DEFAULT_MODEL = "your_default_model_here"

baidu_search_url = "your_baidu_search_url_here"

baidu_search_api_key  = "your_baidu_search_api_key_here"

